/* .container{
  
  display: flex;
  gap: 186px;
  flex-wrap: wrap;
}
.card{
  border: 3px solid rgb(52, 97, 187);
  max-width: 23vw;
} */
.App {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 20px;
}

input[type="text"] {
  padding: 5px;
  margin-right: 10px;
}

button {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

.completed span {
  text-decoration: line-through;
  color: gray;
}
